<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!--<add key="url" value="https://www.google.com"/>-->
    <!--<add key="url" value="https://woodside.raptor1.io/40geo/es/tokens/"/>
    <add key="method" value="POST"/>
    <add key="basicauth" value="true"/>
    <add key="username" value="woodside"/>
    <add key="password" value="raptor_geo1"/>-->
    <add key="url" value="http://dtac.no/api/v1.0/dtacs"/>
    <add key="method" value="GET"/>
    <add key="basicauth" value="true"/>
    <add key="username" value="OceanApex"/>
    <add key="password" value="ee783b8b287fb3ad7e47f6e791fc68a478e6792b8b44f4e144d7c053045ea1b2"/>
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <!--<proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://devpxy01.wde.woodside.com.au" usesystemdefault="false" />-->
    </defaultProxy>
    <!--<defaultProxy useDefaultCredentials="true">
      --><!--<proxy proxyaddress="http://proxy-dev.wde.esriaustraliaonline.com.au:8080"/>-->
    <!--
    </defaultProxy>-->
  </system.net>
</configuration>