<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:/temp/arcproModuleLog/internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="C:/temp/arcproModuleLog/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"
            encoding="utf-8"
            maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="C:/temp/arcproModuleLog/${shortdate}_logfile.txt.a"
            />
  </targets>  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
